<!DOCTYPE html>
<html>
<head>
    <title>Class Details</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
    body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}
    
    body, html {
      height: 100%;
      line-height: 1.8;
    }
    
    
    .w3-bar .w3-button {
      padding: 16px;
    }

    label {
        font-family: sans-serif;
        font-size: 1rem;
        padding-right: 10px;
    }

    select {
        font-size: 0.9rem;
        padding: 2px 5px;
    }
    form {
        margin: 0 auto;
        width: 70%;
        padding: 5px;
    }
    </style>
</head>

<body style="overscroll-behavior-x: auto;">

    <div class="w3-bar w3-white" id="myNavbar">
        <a href="{{ url_for('index') }}" class="w3-bar-item w3-button ">Home</a>
        <!-- Right-sided navbar links -->
        <div class="w3-right w3-hide-small">
            <a href="{{ url_for('calendar') }}" class="w3-bar-item w3-button">Calendar</a>
            <a href="{{ url_for('classes') }}" class="w3-bar-item w3-button">Classes</a>
            <a href="{{ url_for('addClass') }}" class="w3-bar-item w3-button"> Add Class</a>
            <a href="{{ url_for('addAssignment') }}" class="w3-bar-item w3-button"> Add Assignment</a>
        </div>
    </div>

    <div class="w3-container">
      <h1>Class Details</h1>
      <form action="{{ url_for('update_class', class_id=class_details._id) }}" method="post">
          <label for="className">Class Name:</label>
          <input type="text" id="className" name="className" value="{{ class_details.className }}"><br>
          
          <label for="weightHomework">Weight Homework:</label>
          <input type="text" id="weightHomework" name="weightHomework" value="{{ class_details.weightHomework }}"><br>
          
          <label for="weightMidterm">Weight Midterm:</label>
          <input type="text" id="weightMidterm" name="weightMidterm" value="{{ class_details.weightMidterm }}"><br>
          
          <label for="weightFinal">Weight Final:</label>
          <input type="text" id="weightFinal" name="weightFinal" value="{{ class_details.weightFinal }}"><br>
          
          <label for="weightOther">Weight Other:</label>
          <input type="text" id="weightOther" name="weightOther" value="{{ class_details.weightOther }}"><br>
          
          <label for="notes">Notes:</label>
          <input type="text" id="notes" name="notes" value="{{ class_details.notes }}"><br>
          
          <input type="submit" value="Save">
      </form>
      <form action="{{ url_for('delete_class', class_id=class_details._id) }}" method="post">
        <input type="submit" value="Delete">
      </form>

      <div class="w3-container">
        <h2>Assignments:</h2>
        <form action="{{ url_for('search_assignments') }}" method="post">
          <label for="search_assignments">Search Assignment:</label> 
          <input type="text" id="search_assignment" name="search_assignment" placeholder="Enter assignment name...">
          <button type="submit">Search</button>
        </form>
        <ul>
            {% for assignment in assignments %}
                <li><a href="{{ url_for('assignment_details', assignment_id=assignment._id) }}">{{ assignment.assignmentName }}</a></li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>
